@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Pacifico&display=swap'); /*IMPORTOWANIE DODATKOWYCH CZCIONEK*/

body { /*EDYTOWANIE SEKCJI "BODY"*/
  background-color: #a708c7; /*ZMIANA KOLORU TŁA*/
  color: white; /*ZMIANA KOLORU CZCIONKI*/
  text-align: center; /*WYŚRODKOWANIE TEKSTU*/
}

h1 { /*EDYTOWANIE WSZYSTKICH NAGŁÓWKÓW "h1"*/
  font-size: 75px; /*ZMIANA ROZMIARU CZCIONKI*/
  font-family: 'Oswald', sans-serif; /*ZMIANA CZCIONKI NA JEDNĄ Z ZAIMPORTOWANYCH/* /*DRUGA PODANA CZCIONKA TO CZCIONKA ZAPASOWA. JEŻELI PRZEGLĄDARKA NIE BĘDZIE W STANIE WCZYTAĆ TEJ PIERWSZEJ, SPRÓBUJE WCZYTAĆ TĄ DRUGĄ*/
}

p { /*EDYTOWANIE WSZYSTKICH AKAPITÓW*/
  font-size: 20px; /*ZMIANA ROZMIARU CZCIONKI*/
  font-family: 'Pacifico', cursive; /*ZMIANA CZCIONKI NA JEDNĄ Z ZAIMPORTOWANYCH/* /*DRUGA PODANA CZCIONKA TO CZCIONKA ZAPASOWA. JEŻELI PRZEGLĄDARKA NIE BĘDZIE W STANIE WCZYTAĆ TEJ PIERWSZEJ, SPRÓBUJE WCZYTAĆ TĄ DRUGĄ*/
}
